<form method="post" action="{{ path('to_do_delete', {'id': to_do.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette tâche ?');">
       <button class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>

    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ to_do.id) }}">
</form>
