{% extends 'base.html.twig' %}

{% block title %}New ToDo{% endblock %}

{% block body %}
    <h1 class="lead text-center font-weight-bold">Ajout d'une nouvelle tâche</h1>  

    {{ include('to_do/_form.html.twig') }}

    <div class="pt-2 d-flex flex-row">
    
    <a class="btn btn-info btn-sm" href="{{ path('to_do_index') }}"><i class="fas fa-arrow-left"></i></a>

    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('statement') }}
{% endblock %}
