<form method="post" action="{{ path('_project_remove', {'idProject': project.id}) }}" onsubmit="return confirm('La suppression de ce projet entraînera la suppresion de toute les tâches associées. Êtes vous sûr de vouloir supprimer ?');">
       <button class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>

    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
</form>
